.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #b049c8b5;
  color: white;
  background: #b049c8b5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #bc629e;
  border-color: #bc629e;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
